.container-card {
  width: 400px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.subtitle {
  font-size: 12px;
  font-family: cursive;
}

.options {
  font-weight: bold;
  color: coral;
  font-size: 12px;
  border-color: black;
  -webkit-text-stroke: 0.2px black;
  cursor: pointer;
}

.options:hover {
  color: red;
}

p::first-letter {
  color: coral;
  font-size: 180%;
}
